@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sintony:wght@400;700&family=Triodion&display=swap");

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgb(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
}
a:hover{
    color: var(--color-white);
}
ul {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(assets/bg-texture.png);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section{
    padding-top: 8rem;
}
.top-section{
    text-align: center;
    margin-bottom: 3rem;
}
.top-section h2{
    color: var(--color-primary);
}
.top-section h5{
    color: var(--color-light);
}
.text-light{
    color: var(--color-light);
}

.btn{
    display: inline-block;
    width: max-content;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover{
    color: var(--color-bg);
    background-color: var(--color-white);
    border-color: transparent;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.container{
    width: 80%;
    margin: 0 auto;
}
/* Media Queries Tablet */
@media (max-width:1024px) {
    .container{
        width: 85%;
    }
    section{
        padding-top: 6rem;
    }
}

/* Media Queries Mobile */
@media (max-width:600px) {
    .container{
        width: 90%;
    }
    section{
        padding-top: 5rem;
    }
    .top-section{
        margin-bottom: 2rem;
    }
}